<!-- Эта страница является "шапкой" сайта. здесь хранятся элементы форматирования, которые выводятся на каждую из страниц в проекте RoR -->
<!DOCTYPE html> <!-- указание на то, что веб-страница является страницей HTML5 -->
<html> <!-- открытие контента страницы -->
<head> <!-- открытие раздела head, в котором хранится заголовок, метаинформация, а так же ссылки на подключённые яваскрипты и таблицы стилей -->
  <title>Pragprog Books Online Store</title> <!-- название сайта -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => 'reload' %> <!-- вызов хелпера stylesheet_link_tag, который генерирует ссылки на CSS-таблицы, переданные в качестве параметров -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => 'reload' %> <!-- вызов хелпера javascript_include_tag, который генерирует ссылки на js-файлы, переданные в качестве параметров  -->
  <%= csrf_meta_tags %> <!-- генерирует метатеги csrf-param и csrf-token. Эти теги служат защитой от межсайтовой подделки запросов (Cross-site request forgery, CSRF) -->
</head> <!-- закрытие раздела head -->
<body class="<%= controller.controller_name %>"> <!-- открытие раздела body - основного раздела веб-страницы. в качестве класса css выступает название контроллера, отображаемого в данный момент -->
  <div id="banner"> <!-- открытие контейнера div, в параметре class указан атрибут стиля из файла application.scss в папке app/assets/stylesheets -->
    <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %> <!-- вызываем хелпер image_tag и передаём в него значение logo.svg из папки app/assets/images. в ключ alt передаём текст, который отобразится, если изображение не загрузится -->
    <span class="title"><%= @page_title %></span> <!-- выводим на экран значение переменной класса @page_title -->
  </div> <!-- закрытие контейнера div -->
  <div id="columns"> <!-- открытие контейнера div, в параметре class указан атрибут стиля из файла application.scss в папке app/assets/stylesheets -->
    <div id="side"> <!-- открытие контейнера div, в параметре class указан атрибут стиля из файла application.scss в папке app/assets/stylesheets -->
      <div id="cart"> <!-- открытие контейнера div, в параметре class указан атрибут стиля из файла application.scss в папке app/assets/stylesheets -->
        <% if @cart %> <!-- задаём условие, что корзина будет показана только в том случае, если в ней что-то есть (переменная @cart не пуста) -->
          <%= render @cart %>  <!-- метод render вставит на страницу отрендендеренный партиал, указанный в скобках. В данном случае - _cart.item.html.erb из папки app/views/carts -->
        <% end %> <!-- закрытие цикла if -->
      </div> <!-- закрытие контейнера div -->

      <ul> <!-- создание маркированного списка -->
        <li><a href="http://www....">Home</a></li> <!-- создание элемента маркированного спика. внутри тега li сслыка -->
        <li><a href="http://www..../faq">Questions</a></li> <!-- создание элемента маркированного спика. внутри тега li сслыка -->
        <li><a href="http://www..../news">News</a></li> <!-- создание элемента маркированного спика. внутри тега li сслыка -->
        <li><a href="http://www..../contact">Contact</a></li> <!-- создание элемента маркированного спика. внутри тега li сслыка -->
      </ul> <!-- закрытие тега, отвечающего за создание маркированного списка -->
    </div> <!-- закрытие контейнера div -->
    <div id="main"> <!-- открытие контейнера div, в параметре class указан атрибут стиля из файла application.scss в папке app/assets/stylesheets -->
      <%= yield %> <!-- в параметр yield передаётся содержимое веб-страницы, с которой пользователь будет реально работать. всё, что на этой странице не yield - неизменные элементы дизайна сайта -->
    </div> <!-- закрытие контейнера div -->
  </div> <!-- закрытие контейнера div -->
</body> <!-- закрытие основного раздела веб-страницы -->
</html> <!-- закрытие контента страницы -->
