<!DOCTYPE html> 
<html> 
	<head> 
		<title>Depot Books Online Store</title> 
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> 
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %> 
		<%= csrf_meta_tag %> 
	</head> 

	<body class="<%= controller.controller_name %>"> 
		<div id="banner"> 
			<%= image_tag("logo.png") %>
			<br />
			<%= @page_title || "Pragmatic Bookshelf" %> 
		</div>

		<div id="columns">
			<div id="main"> 
			<%= yield %> 
			</div> 
		</div> 


		<div id="side">  
			<center>

			<%= link_to 'Home', store_index_path %> | <a href="http://www..../faq">Questions</a> | <a href="http://www..../news">News</a> | <a href="http://www..../contact">Contact</a>
			</center>
		</div>


	</body> 
</html>
