<h4>Пост</h4>
<br />
	<p>
		<b><%= @row['title'] %></b><br />
		<br />
		<%= @row['content'] %>
		<br />
		<br />
		Дата создания: <%= @row['created_date'] %>
		<br />
	</p>
<br />
<%= $count2 %>
<h4>Комментарии:</h4>
	<hr />
<% @comments.each do |comment| %>
	<p>
		<%= comment['content'] %><br />
		<br />
		<%= comment['created_date'] %>
		<br />
	</p>
	<hr />

<% end %>
<h4>Добавить комментарий:</h4>
<form action = "/details/<%= @post_id %>" method = "POST" role = "form">
  <div class="form-group">
  <textarea class="form-control" name ="content" rows="3" placeholder = "Текст комментария"></textarea>
  <br />
  <button type="submit" class="btn btn-primary">Добавить</button>
</form>