 <!-- Данная страница отображает -->
<h3>Свежее</h3> <!-- -->
<br /> <!-- -->
<% @results.each do |post| %> <!-- -->
	<p> <!-- -->
		<b><%= post['title'] %></b><br /> <!-- -->
		<br /> <!-- -->
		<%= post['content'] %> <!-- -->
		<br /> <!-- -->
		<br /> <!-- -->
		<!--<% @id = post['Id'] %> -->
		<a href = "/details/<%= post['Id'] %>"><%= @count %> Comments</a> | <%= post['created_date'] %> <!-- -->
		<br /> <!-- -->
	</p> <!-- -->
	<hr /> <!-- -->

<% end %> <!-- -->