<p id="notice"><%= notice %></p>

<h1>Recently added links</h1>
<hr />
<br />
    <% @links.each do |link| %>
      <h2><%= link_to link.title, link.url %></h2>
      <%= link_to 'View comments', link %> | 
      <%= link_to 'Edit', edit_link_path(link) %> | 
      <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %>
      <h6>Posted at: <%= link.created_at %></h6>
      <br />
    <% end %>
