<p id="notice"><%= notice %></p>

<p>
<h2><%= link_to @link.title, @link.url %></h2>
</p>

<h2>Comments</h2>
<% @link.comments.each do |comment| %>
  <p>
    <%= comment.body %><br/>
    Said <%= comment.user_id %> <%= comment.created_at.strftime("%d.%m.%Y") %> at <%= comment.created_at.strftime("%H:%M:%S") %>
  </p>
<% end %>

<% if user_signed_in? %>
<h2>Add a comment:</h2>
  <%= form_for([@link, @link.comments.build]) do |f| %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% else %>
  Please <%= link_to "sign in", new_user_session_path %> or <%= link_to "register", new_user_registration_path %> to leave comments.
<% end %>
<br /><%= link_to 'Back', links_path %>
