<h3>Welcome to Pizza Shop!</h3>
<script src="app.js"></script>

<div class="row">

<% @products.each do |p| %>
<div class = "col-md-3">
	<div>
	<%= p.title %>
	</div>
	<div>
	<img src="<%= p.path_to_image %>" width="280px">
	</div>
	<br />
	<div>
	<%= p.description %>
	</div>
	<div>
	Size: <%= p.size %> cm
	</div>
	<div>
	Price: <%= p.price %> rub
	</div>
</div>
<% end %>

</div>

<button class="btn btn-primary" onClick="something()">Click me!</button>
