<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<% if user_signed_in? %>

  	<%= link_to 'Sign out', destroy_user_session_path, method: :delete %><br /> <!-- создание ссылки sign out, используя автоматически сгенерированные пути -->
	<a href="/users/sign_out" data-method="delete">Sign out (hard coded)</a>

  	<% else %>

  	<%= link_to 'Sign in', new_user_session_path %><br /> <!-- создание ссылки sign in, используя автоматически сгенерированные пути -->
  	<a href="/users/sign_in">Sign in (hard coded)</a> 

  	<% end %>

  	<br/>

	

   	<p class="notice"><%= notice %></p>
   	<p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
