<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<%= link_to 'Sign in', new_user_session_path %> | <!-- создание ссылки sign in, используя автоматически сгенерированные пути -->
  	<%= link_to 'Sign out', destroy_user_session_path, method: :delete %> <!-- создание ссылки sign out, используя автоматически сгенерированные пути -->
  	<br/>
	<a href="/users/sign_in">Sign in (hard coded)</a> | 
	<a href="/users/sign_out" data-method="delete">Sign out (hard coded)</a>

   	<p class="notice"><%= notice %></p>
   	<p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
