<p id="notice"><%= notice %></p>  <!-- вывод на экран уведомления, если это необходимо -->
<h2>Your Cart</h2> <!-- Отображаем заголовок корзины -->
<table> <!-- создаём таблицу -->
  <% @cart.line_items.each do |item| %> <!-- для каждого элемента line_items текущей корзины @cart выполняем действия, описанные ниже: -->
    <tr> <!-- создаём ряд в таблице -->
      <td><%= item.quantity %> &times;</td> <!-- создаём ячейку в таблице. в этой ячейке будет отображено количество заказанного товара. берётся из поля quantinty таблицы line_items. передаётся в переменную цикла item -->
      <td><%= item.product.title %></td> <!-- создаём ячейку в таблице. в этой ячейке будет отображено название заказанного товара. берётся из поля title таблицы products. передаётся в переменную цикла item -->
      <td class="item_price"><%= number_to_currency(item.total_price) %></td> <!-- создаём ячейку в таблице. в этой ячейке будет отображена суммарная стоимость заказа. она берётся из метода total_price модели cart.rb -->
    </tr> <!-- заканчиваем описание ряда таблицы -->
  <% end %> <!-- закрытие цикла each do для cart.line_items -->

  <tr class="total_line"> <!-- создаём ряд в таблице c css-стилем total_line -->
    <td colspan="2">Total</td> <!-- объединяет две ячейки. это сделано для того, чтобы не поехало оформление таблицы -->
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td> <!-- создаём ячейку в таблице. в этой ячейке будет отображена суммарная стоимость заказа. она берётся из метода total_price модели cart.rb -->
  </tr> <!-- заканчиваем описание ряда таблицы -->

</table> <!-- закрытие описания таблицы -->
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %> <!-- добавляем кнопку, позволяющую очистить корзину -->
